<div class="card mb-3">
     <h2 class="text-center">{{ ruangan?.nama }}</h2>
     <img src="{{ ruangan?.gambar }}" class="card-img-top" alt="...">
     <div class="card-body">
          <p class="card-text">{{ ruangan?.deskripsi }}</p>
          <p class="card-text">Harga sewa 1 jam: Rp.{{ ruangan?.harga1jam }}</p>
          <p class="card-text">Harga sewa 3 jam: Rp.{{ ruangan?.harga3jam }}</p>
          <!-- <p class="card-text bold">Prosedur Sewa<br>{{ ruangan?.prosedur }}</p> -->

          <h3>Prosedur Sewa:</h3>
          <li *ngFor="let procedure of prosedur">
               <strong> {{ procedure.nomer }}:</strong> {{ procedure.deskripsi }}
          </li>



     </div>