<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <img src="http://localhost:8000/assets/img/LogoOP.jpg" width="50" height="50"
            style="border: 1px solid #ccc; border-radius: 70%;">
        <a class="navbar-brand" href="#">Omah Petoeng</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <span>

                <button mat-icon-button [matMenuTriggerFor]="menu">

                    <mat-icon>account_circle</mat-icon>

                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item>{{ this.email }}</button>
                    <button mat-menu-item [routerLink]="['/admin/profile']">Settings Profile</button>
                    <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>




            </span>


        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/home']" [routerLinkActive]="['active']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/menu']" [routerLinkActive]="['active']">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/layanan']" [routerLinkActive]="['active']">Ruangan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/user']" [routerLinkActive]="['active']">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/slider']" [routerLinkActive]="['active']">Slider</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/rekap']" [routerLinkActive]="['active']">Rekap</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/prosedur']" [routerLinkActive]="['active']">Prosedur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/transaksi']"
                        [routerLinkActive]="['active']">Transaksi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin/tentang-kami']" [routerLinkActive]="['active']">Tentang
                        Kami</a>
                </li>



                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/kategori-menu']" [routerLinkActive]="['active']">Kategori
                        Menu</a>
                </li> -->
            </ul>


        </div>
    </div>
</nav>