<div class="card mb-3">
     <div class="row g-0">
          <div class="col-md-4">
               <img src="{{ menu?.gambar }}" class="img-fluid rounded-start" alt="{{ menu?.nama }}">
          </div>
          <div class="col-md-8">
               <div class="card-body">
                    <h2 class="card-title">{{ menu?.nama }}</h2>
                    <p class="card-text">{{ menu?.deskripsi }}.</p>
                    <p class="card-text">Harga: Rp.{{ menu?.harga }}</p>



               </div>

          </div>
     </div>
</div>